xsd/pad4.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="XML_DIZ_INFO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MASTER_PAD_VERSION_INFO">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MASTER_PAD_VERSION" type="xs:decimal" />
							<xs:element name="MASTER_PAD_EDITOR" type="xs:string" />
							<xs:element name="MASTER_PAD_INFO" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RoboSoft">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Company_UIN" />
							<xs:element name="Company_Description" />
							<xs:element name="Product_UIN" />
							<xs:element name="Search_String" />
							<xs:element name="Press_Release_Search_String" />
							<xs:element name="NewsFeed_Search_String" />
							<xs:element name="Search_Engine_Search_String" />
							<xs:element name="Web_Directories_Search_String" />
							<xs:element name="Search_String_Unique" />
							<xs:element name="Publish_on_CD" type="xs:string" />
							<xs:element name="RSProductType" />
							<xs:element name="Comments_For_Reviewer" />
							<xs:element name="Backlink" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Company_Info">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Company_Name" />
							<xs:element name="Address_1" />
							<xs:element name="Address_2" />
							<xs:element name="City_Town" />
							<xs:element name="State_Province" />
							<xs:element name="Zip_Postal_Code" />
							<xs:element name="Country" />
							<xs:element name="Company_WebSite_URL" />
							<xs:element name="Contact_Info">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Author_First_Name" />
										<xs:element name="Author_Last_Name" />
										<xs:element name="Author_Email" />
										<xs:element name="Contact_First_Name" />
										<xs:element name="Contact_Last_Name" />
										<xs:element name="Contact_Email" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Support_Info">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Sales_Email" />
										<xs:element name="Support_Email" />
										<xs:element name="General_Email" />
										<xs:element name="Sales_Phone" />
										<xs:element name="Support_Phone" />
										<xs:element name="General_Phone" />
										<xs:element name="Fax_Phone" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NewsFeed">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="NewsFeed_FORM" type="xs:string" />
							<xs:element name="NewsFeed_VERSION" type="xs:decimal" />
							<xs:element name="NewsFeed_URL" type="xs:string" />
							<xs:element name="NewsFeed_Type" type="xs:string" />
							<xs:element name="NewsFeed_Language" />
							<xs:element name="NewsFeed_Purpose" />
							<xs:element name="NewsFeed_Author_Email" />
							<xs:element name="NewsFeed_Author_First_Name" />
							<xs:element name="NewsFeed_Author_Last_Name" />
							<xs:element name="NewsFeed_DESCRIPTION" type="xs:string" />
							<xs:element name="NewsFeed_Feed_URL" />
							<xs:element name="NewsFeed_Site_Name" />
							<xs:element name="NewsFeed_Site_URL" />
							<xs:element name="NewsFeed_Title" />
							<xs:element name="NewsFeed_Keywords" />
							<xs:element name="NewsFeed_Description_70" />
							<xs:element name="NewsFeed_Description_250" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Site">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Site_FORM" type="xs:string" />
							<xs:element name="Site_VERSION" type="xs:decimal" />
							<xs:element name="Site_URL" type="xs:string" />
							<xs:element name="Site_DESCRIPTION" type="xs:string" />
							<xs:element name="Site_Site_Title" />
							<xs:element name="Site_Site_URL" />
							<xs:element name="Site_Keywords" />
							<xs:element name="Site_Description_100" />
							<xs:element name="Site_Description_250" />
							<xs:element name="Site_Description_450" />
							<xs:element name="Site_Contact_First_Name" />
							<xs:element name="Site_Contact_Last_Name" />
							<xs:element name="Site_Contact_Email" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PADmap">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PADmap_FORM" type="xs:string" />
							<xs:element name="PADmap_URL" />
							<xs:element name="PADmap_VERSION" />
							<xs:element name="PADmap_SCOPE" />
							<xs:element name="PADmap_DESCRIPTION" />
							<xs:element name="PADmap_Location" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Download_Link_Points_To_Non_Binary_File" type="xs:string" />
				<xs:element name="OnlineShops">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OnlineShops_FORM" type="xs:string" />
							<xs:element name="OnlineShops_PalmGear" type="xs:string" />
							<xs:element name="OnlineShops_PocketLand" type="xs:string" />
							<xs:element name="OnlineShops_PDAssi" type="xs:string" />
							<xs:element name="OnlineShops_PDATopSoft" type="xs:string" />
							<xs:element name="OnlineShops_PocketGear" type="xs:string" />
							<xs:element name="OnlineShops_Softahead" type="xs:string" />
							<xs:element name="OnlineShops_Softonic" type="xs:string" />
							<xs:element name="OnlineShops_Winowin" type="xs:string" />
							<xs:element name="OnlineShops_SoftSearch" type="xs:string" />
							<xs:element name="OnlineShops_Handango_Agreement" type="xs:string" />
							<xs:element name="OnlineShops_Handango" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DeuPAD">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeuPAD_Extension_Version" />
							<xs:element name="DeuPAD_Extension_Info" />
							<xs:element name="SAVE_Member" type="xs:string" />
							<xs:element name="SAVE_Member_Number" />
							<xs:element name="Program_Cost_EUR" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PAD_Certification_Promotion">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Apply_For_Certification" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dynamic_PAD">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Dynamic_Distributive" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Program_Info">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Program_Name" />
							<xs:element name="Program_Version" />
							<xs:element name="Program_Release_Month" />
							<xs:element name="Program_Release_Day" />
							<xs:element name="Program_Release_Year" type="xs:unsignedByte" />
							<xs:element name="Program_Cost_Dollars" type="xs:unsignedByte" />
							<xs:element name="Program_Cost_Other_Code" />
							<xs:element name="Program_Cost_Other" />
							<xs:element name="Program_Type" type="xs:string" />
							<xs:element name="Program_Release_Status" type="xs:string" />
							<xs:element name="Program_Install_Support" type="xs:string" />
							<xs:element name="Program_OS_Support" />
							<xs:element name="Program_Language" />
							<xs:element name="Program_Change_Info" />
							<xs:element name="Program_Specific_Category" />
							<xs:element name="Program_Category_Class" />
							<xs:element name="Program_System_Requirements" />
							<xs:element name="File_Info">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="File_Size_Bytes" />
										<xs:element name="File_Size_K" />
										<xs:element name="File_Size_MB" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Expire_Info">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Has_Expire_Info" type="xs:string" />
										<xs:element name="Expire_Count" />
										<xs:element name="Expire_Based_On" type="xs:string" />
										<xs:element name="Expire_Other_Info" />
										<xs:element name="Expire_Month" />
										<xs:element name="Expire_Day" />
										<xs:element name="Expire_Year" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Program_Descriptions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="English">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Keywords" />
										<xs:element name="Char_Desc_45" />
										<xs:element name="Char_Desc_80" />
										<xs:element name="Char_Desc_250" />
										<xs:element name="Char_Desc_450" />
										<xs:element name="Char_Desc_2000" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Web_Info">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Application_URLs">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Application_Info_URL" />
										<xs:element name="Application_Order_URL" />
										<xs:element name="Application_Screenshot_URL" />
										<xs:element name="Application_Icon_URL" />
										<xs:element name="Application_XML_File_URL" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Download_URLs">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Primary_Download_URL" />
										<xs:element name="Secondary_Download_URL" />
										<xs:element name="Additional_Download_URL_1" />
										<xs:element name="Additional_Download_URL_2" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Permissions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Distribution_Permissions" />
							<xs:element name="EULA" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Press_Release">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Press_Release" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Affiliates">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Affiliates_FORM" type="xs:string" />
							<xs:element name="Affiliates_VERSION" type="xs:decimal" />
							<xs:element name="Affiliates_URL" type="xs:string" />
							<xs:element name="Affiliates_Information_Page" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PADRING">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PADRING_FORM" type="xs:string" />
							<xs:element name="PADRING" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Simtel">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Simtel_FORM" type="xs:string" />
							<xs:element name="SIMTEL_FORM_VER" />
							<xs:element name="Simtel_Platform" />
							<xs:element name="Simtel_Category" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Article_Contents">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Title" />
							<xs:element name="Summary" />
							<xs:element name="Body" />
							<xs:element name="Resources" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MSN">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MSN_FORM" type="xs:string" />
							<xs:element name="MSN_IS_32bit" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ASP">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ASP_FORM" type="xs:string" />
							<xs:element name="ASP_Member" type="xs:string" />
							<xs:element name="ASP_Member_Number" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TPA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TPA_FORM" type="xs:string" />
							<xs:element name="TPA_Member" type="xs:string" />
							<xs:element name="TPA_Member_ID" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Issues" type="xs:unsignedByte" />
				<xs:element name="Allmyapps">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Allmyapps_Terms_And_Conditions" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AppStore">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AppStore_AppID" />
							<xs:element name="AppStore_Category" />
							<xs:element name="AppStore_Info_URL" />
							<xs:element name="AppStore_Download_URL" />
							<xs:element name="AppStore_Promo_Code_1" />
							<xs:element name="AppStore_Promo_Code_2" />
							<xs:element name="AppStore_Promo_Code_3" />
							<xs:element name="AppStore_Supported_Devices" />
							<xs:element name="AppStore_Other_Applications" />
							<xs:element name="AppStore_Advantages_And_Unique_Features" />
							<xs:element name="AppStore_Awards_And_Ratings" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>